@charset "UTF-8";
.inv:not(active) {opacity: 0 !important;}
.impress-on-OVERVIEW .step:not(active) {opacity: 1 !important;}
.impress-on-QM_SLA1 #QM_SLA:not(active) {opacity: 1 !important;}
.impress-on-GRAFFIC #GETSTART:not(active) {opacity: 0 !important;}
.impress-on-SEC301 #SEC30:not(active) {opacity: 1 !important;}
.impress-on-SEC302 #SEC30:not(active) {opacity: 1 !important;}
.impress-on-SEC303 #SEC30:not(active) {opacity: 1 !important;}
.impress-on-WORKFLOWBIG #WORKFLOW:not(active) {opacity: 1 !important;}
.impress-on-CMDB1 #CMDBPICTURE:not(active) {opacity: 1 !important;}
.impress-on-CMDB2 #CMDBPICTURE:not(active) {opacity: 1 !important;}
.impress-on-CMDB3 #CMDBPICTURE:not(active) {opacity: 1 !important;}
.impress-on-PERSONALPORTAL1 #PERSONALPORTAL:not(active) {opacity: 1 !important;}
.impress-on-PERSONALPORTAL2 #PERSONALPORTAL:not(active) {opacity: 1 !important;}
.impress-on-FUTUREPLANV #FUTUREPLAN:not(active) {opacity: 1 !important;}
