@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: 'Russo One';
    src: url('../fonts/Russo_One/RussoOne-Regular.ttf');
}

@font-face {
    font-family: 'Ubuntu Condensed';
    src: url('../fonts/Ubuntu_Condensed/UbuntuCondensed-Regular.ttf');
}
@font-face {
    font-family: 'Istok Web';
    src: url('../fonts/Istok_Web/IstokWeb-BoldItalic.ttf');
}

@font-face {
    font-family: 'PT Sans Narrow';
    src: url('../fonts/PT_Sans_Narrow/PT_Sans-Narrow-Web-Regular.ttf');
}

@font-face {
    font-family: 'PT Sans Caption';
    src: url('../fonts/PT_Sans_Caption/PT_Sans-Caption-Web-Regular.ttf');
}


html {
    line-height: 1
}

ol, ul {
    list-style: none
}

h1 {
    font-family: 'Istok Web' !important;
    font-style: normal;
    text-align: center;
    font-size: 1.4em;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q, blockquote {
    quotes: none
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none
}

a img {
    border: none
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block
}

body {
    font-family: "Roboto Condensed";
    font-size: 42px;
    line-height: 1.5em;
    color: #424242;
}

a {
    color: #398235;
    text-decoration: none
}

li {
    list-style-type: circle;
    margin-left: 1em;
    font-size: 0.7619em
}


.big {
    text-align: center;
    font-size: 2.38095em;
    line-height: 1.2em
}

.legend {
    font-size: 0.57143em
}

body {
    background-image: url('../img/light_wool.png'), -webkit-radial-gradient(center, #abdedd 0%, #35a4b6 44%, #087982 100%);
    background-image: url('../img/light_wool.png'), -moz-radial-gradient(center, #abdedd 0%, #35a4b6 44%, #087982 100%);
    background-image: url('../img/light_wool.png'), -o-radial-gradient(center, #abdedd 0%, #35a4b6 44%, #087982 100%);
    background-image: url('../img/light_wool.png'), radial-gradient(center, #abdedd 0%, #35a4b6 44%, #087982 100%);
}

pre {
    border: 3px solid #398235;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #398235
}

.flipcard {
    float: left;
    position: relative;
    width: 280px;
    height: 280px;
    margin: 80px 10px 0px;
    -webkit-perspective: 600px
}

.flipcard div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 60px;
    border: 1px solid #fff;
    border-radius: 140px;
    -webkit-box-shadow: 0 1px 5px #398235;
    -moz-box-shadow: 0 1px 5px #398235;
    box-shadow: 0 1px 5px #398235;
    color: #fff;
    font-size: 0.52381em;
    text-align: center;
    text-shadow: 0 1px 0 #398235;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 400ms;
    -moz-transition-duration: 400ms;
    -o-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    cursor: pointer
}

.flipcard .front {
    z-index: 900;
    padding: 30px 15px;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background-image: -webkit-linear-gradient(-45deg, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background-image: -moz-linear-gradient(-45deg, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background-image: -o-linear-gradient(-45deg, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background-image: linear-gradient(-45deg, #a90329 0%, #8f0222 44%, #6d0019 100%)
}

.flipcard .back {
    z-index: 900;
    padding: 80px 15px;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    background-image: -webkit-linear-gradient(-45deg, #24A852 0%, #289980 100%);
    background-image: -moz-linear-gradient(-45deg, #24A852 0%, #289980 100%);
    background-image: -o-linear-gradient(-45deg, #24A852 0%, #289980 100%);
    background-image: linear-gradient(-45deg, #24A852 0%, #289980 100%)
}

.flipcard.flip .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.flipcard.flip .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.front, .back {
    line-height: 100%;
    font-size: 0.75em!important;
}

.inventors .name, .inventors .language {
    position: absolute;
    top: 1600px;
    opacity: 0.1;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1200ms;
    -moz-transition-duration: 1200ms;
    -o-transition-duration: 1200ms;
    transition-duration: 1200ms;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms
}
.step {
    position: relative;
    width: 1200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 20px;
    margin: 20px auto;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms
}

.step.active {
    opacity: 1 !important
}

.step:not(.active) { opacity: 0.1; }

.substep {
    opacity: 0 !important
}
.substep.active, .substep.previous {
    opacity: 1 !important
}

.slide {
    font-size: 1.14286em;
    line-height: 1.85em;
    text-align: center;
    padding: 60px 0;
    border-top: 3px solid #106fa1;
    border-bottom: 3px solid #106fa1
}

.info {
    font-family: 'Ubuntu Condensed';
    margin: auto 20px;
    font-size: 0.9em;
    letter-spacing: 1.2em;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.4em;
}

.infomin {
    font-family: 'Ubuntu Condensed';
    margin: auto 20px;
    font-size: 0.6em;
    letter-spacing: 0.9em;
    text-align: center;
    text-transform: uppercase;
    line-height: 150%;
}

h1.beauty {
    border-top: 3px solid #106fa1;
    padding: 80px 0;
    font-family: 'Lobster';
}

img.beauty {
    width: 700px;
    margin-left: 175px
}

.bigimage {
    height: 700px;
    margin:0 auto;
}

svg.beauty {
    margin-left: 150px;
    margin-top: -30px;
}

div.beauty {
    margin-left: 50px;
    margin-top: -50px;
    margin-bottom: -100px;
}

img.beauty2 {
    width: 800px;
    margin-left: 50px;
}

.subtitle {
    font-size: 1.1em;
    letter-spacing: 0;
    text-align: center;
    border-bottom: 3px solid #106fa1;
    padding-bottom: 0.2em
}

.author {
    position: absolute;
    bottom: -30px;
    right: 40px;
    font-size: 0.47619em
}

.divcard {
    float: left;
    position: relative;
    width: 280px;
    height: 280px;
    margin: 80px 10px 0px;
    padding: 0px 50px;
}

.imgcard {
    width: 280px;
    height: 280px;
}

#CONTENT .flipcard div {
    font-size: 0.8em !important;
    text-align: center;
}
.speechtrue {
    text-align: center;
    font-size: 1.2em;
    background: rgba(17, 70, 87, 0.70);
    padding: 20px 10px;
    width: 1000px;
    color: #fff;
    margin: 10px auto;
    border-radius: 5px;
    -webkit-mask-image: -webkit-linear-gradient(#4f4f4f, rgba(0,0,0,.9));
    -webkit-backface-visibility: hidden;
}
/*Блок для IDшников*/
#title {
    width: 1240px;
    line-height: 95%;
    height: 600px;
    text-align: left;
    font-family: "PT Sans Caption";
}

/*Блок для классов*/
.bold {
    font-weight: 800;
}
.big {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.smdiv {
    font-size:   .5em;
    line-height: .8;
}
/*Блок для зависимых элементов*/
#title :nth-of-type(1) {
    font-size: 0.8em;
    font-weight: 800;
}
#title :nth-of-type(2) {
    font-size: 1.51em;
}
#title :nth-of-type(3) {
    line-height: 1.3;
    font-size: 102%;
}
#GRAFFIC {
    text-align: center;
}

#GRAFFIC:not(.active) { opacity: 0; }

#GETSTART :nth-of-type(1) {
     font-size: 0.8em;
     font-weight: 800;
 }
#GETSTART :nth-of-type(2) {
    font-size: 1.8em;
}
#GETSTART :nth-of-type(3) {
    line-height: 1.3;
    font-size: 102%;
}

#PLAN {
    text-align: center !important;
}

#PLAN :nth-of-type(1) {
    font-size: 1.6em;
}
#PLAN :nth-of-type(2) {
    font-size: 0.6em;
}
#PLAN :nth-of-type(3) {
    font-size: 1.5em;
    line-height: 0.8;
}
#PLAN :nth-of-type(4) {
    font-size: 0.6em;
    letter-spacing: 0.07em;
}
#FUTUREPLAN { width: 1100px}
#OUPLAN :nth-of-type(1) {
    position: relative; left: -20px;
    font-size: 0.6em;
}
#OUPLAN :nth-of-type(2) {
    font-size: 1.6em;
}

#combo-fluid-fixed div { float: left; text-align: center; line-height: 1}
#combo-plus { font-size: 100px; }
#combo-fixed, #combo-fluid { width: 45%; }
#combo-fluid-fixed div .bold { font-size: 63px; width: 100%; }
#combo-fluid-fixed div .light { font-size: 50px; width: 100%; }
#combo-fluid .light { letter-spacing: 3px; }

#NRS :nth-child(1) {
     font-size: 3em;
     line-height: 1;
     letter-spacing: 0.3em;
 }
#NRS div:nth-child(2) {
    font-size: 0.5em;
    line-height: 1.5;
    letter-spacing: 0.2em;

}

#SEC30 :nth-of-type(1) {
    text-align: center;
}
#SEC30 :nth-of-type(1) {
    font-size: 0.6em;
    line-height: 1.5;
    letter-spacing: 0.1em;

}

#CHAT :nth-of-type(1) {
    font-size: 0.6em;
    line-height: 1.5;
    letter-spacing: 0.1em;

}
#VISUAL :nth-of-type(1) {
    font-size: 0.5em;
    line-height: 1.5;
    letter-spacing: 0.1em;

}

#WORKFLOW :nth-of-type(1) {
    font-size: 0.5em;
    line-height: 1.5;

}

 #CMDBPICTURE :nth-of-type(1) {
       font-size: 0.5em;
       line-height: 1.5;

   }

#CMDBOFFICE div:nth-of-type(1) {
    font-size:   0.5em;
    line-height: 1.5;
    width: 1300px;
}
#PERSONALUSER :nth-child(1) {
    font-size:   0.5em;
    line-height: 1;
}

#PERSONALUSER .substep {
    font-size:   .8em;
    line-height: .8;
    padding-top: 1em;
}

#SIXTHEMES :nth-of-type(1) {
    font-size: 0.8em;
    font-weight: 800;
}
#SIXTHEMES :nth-of-type(2) {
    font-size: 1.6em;
}
#CTI :nth-child(1) {
    font-size:   0.5em;
    line-height: 1;
}

#CTI .substep {
    font-size:   .8em;
    line-height: .9;
    padding-top: 1em;
}

#SOCIALNETWORKS :nth-child(1) {
    font-size:   0.5em;
    line-height: 1;
}

#SOCIALNETWORKS .substep {
    font-size:   .8em;
    line-height: .9;
    padding-top: 1em;
    width: 1300px;
}

#SPRING {
    text-align: left;
}

#SPRING :nth-of-type(1) {
    font-size: 1.3em;
    letter-spacing: 0.2em;
    font-family: 'Russo One';
}
#SPRING :nth-of-type(2) {
    font-size: 1.3em;
    letter-spacing: 0.35em;
}
#SPRING :nth-of-type(3) {
    font-size: 1.3em;
    line-height: 1;
}
#SPRING :nth-of-type(4) {
    font-size: 0.8em;
    letter-spacing: 0.1em;
}
#SPRING :nth-of-type(5) {
    font-size: 0.9em;
    letter-spacing: 0.42em;
    line-height: .9;
}
#AUTUMN{ text-align: left}

#AUTUMN :nth-of-type(1) {
    font-size: 1.3em;
    letter-spacing: 0.2em;
    font-family: 'Russo One';
}
#AUTUMN :nth-of-type(2) {
    font-size: 1.4em;
    letter-spacing: 0.1em;
}
#AUTUMN :nth-of-type(3) {
    font-size: .9em;
    line-height: 1;
}
#AUTUMN :nth-of-type(4) {
    font-size: 1.6em;
    letter-spacing: 0.14em;
}
#AUTUMN :nth-of-type(5) {
    font-size: 0.9em;
    letter-spacing: 0.38em;
    line-height: .9;
}